.Cell {
  height: 100px;
  width: 100px;
  background-color: #263268;
  border-radius: 1px;
  transition: background-color 0.2s ease;
}

.Cell:hover {
  cursor: pointer;
  background-color: #1c254d;
}

.Cell-lit {
  background-color: #00bdc4;
}

.Cell-lit:hover{
  background-color: #01dbe2; 
}