.Pokecard {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
    transition-duration: 0.2s;
}

.Pokecard:hover {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
    transform: translate(0, -10px);
    background-color: lightgoldenrodyellow;
}


.Pokecard h1 {
    color: blue;
    transition-duration: 0.2s;
}

.Pokecard:hover h1 {
    color: red;
}

.Pokecard img {
    filter: grayscale(1);
    transition-duration: 0.2s;
}

.Pokecard:hover img {
    filter: grayscale(0);
}